<p><%= questionText %></p>
<ul class="options-list">
  <% for (var value in transaction.document_types){ %>
    <li>
      <label for="transaction_document_type_<%= value %>">
        <input type="radio" name="transaction[document_type]" value="<%= value %>" /> <%= transaction.document_types[value].toUpperCase() %>
      </label>
    </li>
  <% } %>
</ul>
