<p>The cost to deposit <%= calculation.formattedItemList() %> is &pound;<%= formatMoney(calculation.totalCost) %>.</p>

<div class="help-notice">
<p>From 1 January 2014 this service is no longer available. Any applications submitted after this date will be cancelled and any payment refunded.</p>
</div>
