<p>Deposit your marriage or civil partnership certificate at the General Register Office (GRO) for safe-keeping if you got married abroad and you’re resident in the UK.</p>

<div class="help-notice">
<p>From 1 January 2014 this service is no longer available. Any applications submitted after this date will be cancelled and any payment refunded.</p>
</div>

<%- partial("partials/questions/document_count", { questionText: "How many certificates do you need to deposit? Each one costs &pound;" + transaction.document_cost + "." }) %>

<%- partial("partials/questions/postage_fee_yes_no", { questionText: "Do you want to pay the &pound;" + transaction.postage_cost + " postage fee to have your documents returned?" }) %>
