<p>The cost for <%= pluralise("registration", calculation.registrationCount) %> and <%= pluralise("certificate", calculation.documentCount) %><% if (calculation.postage){ %> plus postage<% } %> is &pound;<%= formatMoney(calculation.totalCost) %>.</p>
