<% var epdqParams = epdqResponse.parameters(); -%>
<p class="summary">You have completed your payment to the Foreign &amp; Commonwealth Office (FCO).</p>

<p>You have paid for <%= pluralise("birth registration", registrationCount(epdqParams)) %> and <%= pluralise("certificate", documentCount(epdqParams)) %><% if (epdqParams['postage'] == 'yes'){ %>, plus postage<% } -%>.</p>

<p>Your online payment reference is <%= epdqParams['payid'] %>. You must:</p>

<ul>
  <li>write the payment reference on your application form</li>
  <li>print out this page and include it with your application</li>
</ul>

<p>Send your application form and documents to the <abbr title="Foreign &amp; Commonwealth Office">FCO</abbr>. The address is on the form.</p>

<p class="application-notice info-notice">You can email scans of your documents to <a href="mailto:birthregistrationenquiries@fco.gov.uk">birthregistrationenquiries@fco.gov.uk</a> if you want to check that you have the right ones before you send them.</p>
