<p>Pay the Foreign &amp; Commonwealth Office (FCO) to register the birth of a British national abroad. You must be back in the UK to use this service.</p>
<%- partial("partials/questions/registration_count", { questionText: "How many births do you need to register? Each registration costs &pound;"+transaction.registration_cost+". This does not include a copy of the certificate." }) %>

<%- partial("partials/questions/document_count", { questionText: "How many certificates do you need? Each one costs &pound;"+transaction.document_cost+"." }) %>

<%- partial("partials/questions/postage_options", { questionText: "How do you want to have your documents returned?" }) %>
