<p>Your payment to the Foreign &amp; Commonwealth Office is complete.</p>

<p>You have paid for <%= pluralise("registration", registrationCount) %> and <%= pluralise("certificate", documentCount) %><% if (postage){ %>, plus postage<% } %>.</p>

<p>Your payment reference is <%= epdqResponse.parameters['payid'] %>.</p>

<p>Print this page and send it, along with your <%= pluralise("certificate", documentCount) %>, application form and supporting documents listed on the form, to the Foreign &amp; Commonwealth Office (FCO). The address is on the form.
